<p>Dobrý deň,</p>
<p>
    radi by sme Vás upozornili, že bol zverejnený jedálny lístok na nasledujúci týždeň {{ date }}<br>
    Nájdete ho na nasledujúcom odkaze:
</p>
<p>
    <a href="{{ url_for('main.index', _external=True) }}">cantina.ipcentrum.sk</a>
</p>
<p>
    Pre uskutočnenie objednávok sa, prosím, prihláste.
</p>

<p>
    Ak si už neprajete dostávať tieto upozornenia, svoj odber možete zrušiť <a href="{{ url_for('main.unsubscribe', token=token, _external=True) }}">kliknutím sem</a>.
</p>

<br>
<p>S úctou,</p>
<p>IP Centrum</p>
