files/
other/
ipcantina/app/__pycache__/
ipcantina/__pycache__/
ipcantina/logs/
ipcantina/migrations/
ipcantina/venv/
ipcantina/.env
ipcantina/.flaskenv
ipcantina/app.db
ipcantina/app/auth/__pycache__/
ipcantina/app/main/__pycache__/
ipcantina/app/errors/__pycache__/
ipcantina/app/general/__pycache__/
ipcantina/bak/