{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Údaje</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, extra_classes="readonly") }}
        </div>
    </div>
    <div class="account-action">
        <a href="{{ url_for('edit_profile') }}" class="">Upraviť údaje</a><br>
        <div class="inline">
            <a href="{{ url_for('change_password') }}" class="btn btn-primary">Zmeniť heslo</a>
            <a href="{{ url_for('delete_account') }}" class="btn btn-danger">Zrušiť konto</a>
        </div>
    </div>
    <!--<h1>Notifikácie</h1>-->

{% endblock %}