.menu-desc p:last-child {
   margin-bottom: 0;
}
.menu-desc hr {
    border-color: #DBC51A;
}
.danger-color {
    color: #d9534f;
}
.price-list {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 5px;
}
.menu-heading h1, #pdf{
    display: inline-block;
} 
#pdf {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
    vertical-align: top;
/*    position: relative;
    top: 4px;
*/    padding: 3px 7px;
    color: #fff;
    background-color: #007bff;
    transition: all 0.5s ease; 

} #pdf:hover {
    background-color: #0063E1;
}

.menu-line {
    line-height: 26px;
    width: 100%;
    margin: 8px 0;
}
 span.portion-size, span.allergens {
        font-size: 11px;
        vertical-align: center;
}
.col-desc {
    font-size: 13px;
    color: lightgrey;
    /*margin-right: 42%;*/
    float: right;
}
.col-desc li {
    display: inline-block;
} .col-desc li:nth-child(2) {
    margin-right: 10px;
}.col-desc li:first-child {
    margin-right: 12px;
}


.col-desc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#first-hr {
    margin-top: 2px;
}
/* INCREMENTORS */
.incrementor {
    display: inline-block;
    margin: 0 20px;
}
.meal-field-group {
    float: right;
    margin-right: 20px;
}
.meal-field-group input { /*also selects incremetor input*/
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

input[disabled="disabled"] , .incrementor span {
    /*background:#C0C0C0;*/
    opacity: 0.7;
}


.incrementor span {
    cursor: pointer;
    user-select: none !important; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
}
.incrementor {
	color: black;
}


.minus, .plus {
    width: 14px;
    height: 14px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 8px;

}
.incrementor input {
	background: #F0F0F0;
    height:26px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
        margin: 0 2px;
}
.menu-day {
    margin-left: 14px;
}
#submit-order input {
	background-color: #DBC51A;
	border-color: #DBC51A;
	transition: all 0.5s ease; 
	/*background-color: #F0F0F0;*/
}
#submit-order input:hover {
		color: black;
	background-color: #B79E15;
	border-color: #B79E15;
}

#submit-order #submit {
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 10px 44px 0 0;
    float: right;
}

.list-group-item .group {
    margin: 5px 0;
} 
.order-summary-right {
    float: right;
    vertical-align: middle;
}
.order-summary-right .item {
    margin: 0 3px;
}

.cancel-form {
    margin-left: 10px;
    display: inline-block;
}
.cancel-form .btn {
    border-radius: 8px;
}

.file-input {
    margin: 6px 0 16px 0;
}


#price-summary {
    text-align: right;
    font-size: 20px;
    margin-bottom: 50px;
} #dph {
    font-size: 12px;
}
#admin-settings-form {
    padding: 0 15px;
}
#admin-settings-form .form-group input {
    color: #555;
}
#user-table {
    min-width: 70%;
}

/* order pagination */
.orderlist-header {
    margin: 20px 0;
}

.orderlist-header span {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.5em;
    vertical-align: middle;
}
.orderlist-header button {
    display: inline-block;
}

@media(max-width: 992px){
    .menu-day {
        margin-left: 0;
    }
}
@media(max-width: 800px){

    #price-summary {
        font-size: 16px;
    }
}

@media(max-width: 600px){
    #user-table {
        width: 100%;
        text-align: left;
    }
    #pdf {
        margin: 0;
        margin-top: 10px;
    }
    #submit-order #submit {
        float: none;
        margin: 0;
    }
    .meal-field-group {
        display: block;
        float: none;
        margin-bottom: 20px;
        /*margin-right: -10%;*/
    }
    .col-desc {
        float: none;
        /*margin-right: -15%;*/
        /*display: none;*/   
    }
    .order-summary-right {
        float: none;
        display: block;
        margin: 10px 0;
    }
    .col-desc span:first-child {
        margin-right: 14px;
    }
}