body {
    background-color: #333333;
    color: #F0F0F0;
}

.panel {
	background-color: #222;
	border-color: #DBC51A; 
}
.panel-heading {
	background-color: #F0F0F0 !important;
}

.list-group-item {
	background-color: #222 !important;
	border-color:  #DBC51A; 
}

.incrementor input {
	background: #F0F0F0;
}

.incrementor {
	color: black;
}
a, a:visited {
	color: #4287BE;
}
a:hover, a:focus {
	color: #5295C5;
}
.account-action .inline a, .delete-account a {
	color: #F0F0F0;
}
.yellow {
	color: #DBC51A;
}

h1 {

	color: #DBC51A;
}
h3 {
	color: #DBC51A;
}

hr {
	border-color: #222;
}
#gdpr h2 {
	color: #DBC51A;
}


.alert-info {
	color: #F0F0F0;
	background-color: #124E78;
    border-color: #104771;
}

.alert-success {
	color: #F0F0F0;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.alert-danger {
	color: #F0F0F0;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#submit-order input {
	background-color: #DBC51A;
	border-color: #DBC51A;
	transition: all 0.5s ease; 
	/*background-color: #F0F0F0;*/
}
#submit-order input:hover {
		color: black;
	background-color: #B79E15;
	border-color: #B79E15;
}