
/*
 gray: #6c757d
 cyan: #17a2b8
 teal: #20c997
 secondary: #dddddd
 dark: #101010
 danger: #E35D46
*/


.content-wrapper {
   min-height: 77vh;
}

#submit {
    margin-top: 1rem;
}

.help-block {
    color: #E35D46;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    margin: 4rem 0;
}
.content-section h3, .content-section h2 {
    margin-bottom: 1rem;
}

.content-section {
    margin: 4rem 0;
}

.text-sm {
    font-size: 0.8em;
}

input[disabled="disabled"] {
    opacity: 0.6;
}


.menu-section-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0;
    width: 100%;
    font-size: 1.05rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.menu-section-title::after {
    content: '';
    flex-grow: 1;
    margin-left: 1.25rem;
    border-top: 1px solid #dddddd;
}

.menu-section-title.current::after {
    border-top: 1px solid #20c997 ;
}

.week-order-list .section-title {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
  opacity: 0.6;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    left: 0.9rem;
}

/* lg */
@media (max-width: 1200px) {
    .menu-section-title::before {
        content: '';
        flex-grow: 1;
        margin-right: 1.25rem;
        border-top: 1px solid #dddddd;
    }
    .menu-section-title.current::before {
        border-top: 1px solid #20c997;
    }

    .menu-section-title {
        top: 10px;
    }

    .menu-row {
        padding: 20px 0;
        border: 1px solid #dddddd;
        border-top: none;
    }
    .menu-row>div:first-child {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;
    }
    .soup {
        border: 1px solid #dddddd;
        border-top: none;
        padding: 20px 0;
    }
}
.text-black {
    color: #000;
}
.pricelist-item {
    font-size: 0.875rem;
}
.pricelist-item b {
    color: #000;
}

.counter-value {
    color: #000;
}

