
.content-wrapper {
   min-height: 77vh;
}

#submit {
    margin-top: 1rem;
}

.help-block {
    color: #E35D46;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    margin: 4rem 0;
}
.content-section h3, .content-section h2 {
    margin-bottom: 1rem;
}

.content-section {
    margin: 4rem 0;
}
