
/*
 gray: #6c757d
 cyan: #17a2b8
 teal: #20c997
 secondary: #dddddd
 dark: #101010
 danger: #E35D46
*/


.content-wrapper {
   min-height: 77vh;
}

#submit {
    margin-top: 1rem;
}

.help-block {
    color: #E35D46;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    margin: 4rem 0;
}
.content-section h3, .content-section h2 {
    margin-bottom: 1rem;
}

.content-section {
    margin: 4rem 0;
}

.text-sm {
    font-size: 0.8em;
}

.incrementor {
	color: black;
}

.minus, .plus {
    cursor: pointer;
    user-select: none !important; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    line-height: 4px;
}
.incrementor input {
	background: #F0F0F0;
    height:26px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border:1px solid #ddd;
    border-radius:4px;
    vertical-align: middle;
    margin: 0 4px;
}

input[disabled="disabled"] {
    opacity: 0.6;
}


.menu-section-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0;
    width: 100%;
    font-size: 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.menu-section-title::after {
    content: '';
    flex-grow: 1;
    margin-left: 1.25rem;
    border-top: 1px solid #dddddd;
}

.menu-section-title.current::after {
    border-top: 1px solid #20c997 ;
}

.week-order-list .section-title {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

/* lg */
@media (max-width: 1200px) {
    .menu-section-title::before {
        content: '';
        flex-grow: 1;
        margin-right: 1.25rem;
        border-top: 1px solid #dddddd;
    }
    .menu-section-title.current::before {
        border-top: 1px solid #20c997;
    }
    .menu-row {
        padding: 15px 0;
        border: 1px solid #dddddd;
    }
    .menu-row>div:first-child {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;
    }
}
.text-black {
    color: #000;
}
.pricelist-item {
    font-size: 0.875rem;
}
.pricelist-item b {
    color: #000;
}

.counter-value {
    color: #000;
}

