html, body {
    height: 100%;
}

.navbar-header #logo {
    margin: 0 10px 0 0;
    padding: 5px;
}

.welcome {
    font-size: 18px;
    margin: 20px 0;
}

h1 {
    font-size: 30px;
    margin: 18px 0 18px;
}
.menu-desc p:last-child {
   margin-bottom: 0;
}

.price-list {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 5px;
}
.menu-heading h1, #pdf{
    display: inline-block;
} 
#pdf {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
    vertical-align: top;
/*    position: relative;
    top: 4px;
*/    padding: 3px 7px;
    color: #fff;
    background-color: #007bff;
    transition: all 0.5s ease; 

} #pdf:hover {
    background-color: #0063E1;
}

.menu-line {
    line-height: 26px;
    width: 100%;
    margin: 8px 0;
}
 span.portion-size, span.allergens {
        font-size: 11px;
        vertical-align: center;
}
.col-desc {
    font-size: 13px;
    color: lightgrey;
    /*margin-right: 42%;*/
    float: right;
}
.col-desc li {
    display: inline-block;
} .col-desc li:nth-child(2) {
    margin-right: 10px;
}.col-desc li:first-child {
    margin-right: 34px;
}


.col-desc ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#first-hr {
    margin-top: 2px;
}
/* INCREMENTORS */
.incrementor {
    display: inline-block;
    margin: 0 20px;
}
.meal-field-group {
    float: right;
    margin-right: 20px;
}
.meal-field-group input { /*also selects incremetor input*/
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

input[disabled="disabled"] , .incrementor span {
    /*background:#C0C0C0;*/
    opacity: 70%    
}


.incrementor span {
    cursor: pointer;
    user-select: none !important; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
}

.minus, .plus {
    width: 14px;
    height: 14px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 8px;

}
.incrementor input {
    height:26px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
        margin: 0 2px;
}
.menu-day {
    margin-left: 14px;
}
#submit-order {
    /*text-align: center;*/
}

#submit-order #submit {
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 10px 44px 0 0;
    float: right;
}

.list-group-item .group {
    margin: 5px 0;
} 
.order-summary-right {
    float: right;
    vertical-align: middle;
}
.order-summary-right .item {
    margin: 0 3px;
}

.cancel-form {
    margin-left: 10px;
    display: inline-block;
}
.cancel-form .btn {
    border-radius: 8px;
}
.file-input {
    margin: 6px 0 16px 0;
}


#price-summary {
    text-align: right;
    font-size: 20px;
    margin-bottom: 50px;
} #dph {
    font-size: 12px;
}

.register-prompt {
    margin: 20px 0;
}
.account-action .inline a {
    margin: 50px 10px 0 0;
}
#gdpr h2 {
    font-size: 26px;
}
/*
#admin a {
    color: black;
}*/
#admin-settings-form {
    padding: 0 15px;
}
#admin-settings-form .form-group input {
    color: #555;
}
#user-table {
    min-width: 50%;
}

.delete-account {
    margin-top: 10px;
}
.delete-account a {
    margin: 0 8px;
}
.content {
  min-height: calc(100% - 72px);
}
.content .container { /* body content */
  /*padding: 20px;*/
  padding-bottom: 100px;
}

#contact-info p {
    line-height: 26px;
}



.footer {
    /*background-color: #222;*/
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(24,24,24,1) 100%);
    border-top: #101010;
    line-height: 50px;
    text-align: right;
    height: 50px;
    margin-top: -50px;
        color: #9d9d9d;
}

.footer ul, .footer li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.footer li:after {
    margin: 0 6px;
    content: '/';
}
/*.footer li a {
    color: #9d9d9d;
}*/


.group:before,
.group:after {
	content:" ";
	display: table;
}

.group:after {
	clear:both;
}

.group {
	*zoom: 1;
}

/*
@media(max-width: 1200px){
   .meal-field-group {
        margin-right: 0;
    }
    .col-desc {
        margin-right: 0;
    }
    .col-desc span:first-child {
        margin-right: 10px;
    }
}
*/
@media(max-width: 992px){
    .menu-day {
        margin-left: 0;
    }
}

@media(max-width: 800px){
    h1 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
    body {
        font-size: 13px;
    }
    #price-summary {
        font-size: 16px;
    }
    span.nowrap {
        white-space: nowrap;
    }
    h1 {
        line-height: 34px;
    }

}
@media(max-width: 768px) {
    .navbar-header #logo {
        margin-left: 15px;
    }
}
@media(max-width: 600px){
    body {
        text-align: center;
    }
    .navbar-header {
        text-align: left;
    }
    #user-table {
        width: 100%;
        text-align: left;
    }

    #pdf {
        margin: 0;
        margin-top: 10px;
    }
    #submit-order #submit {
        float: none;
        margin: 0;
    }
    .meal-field-group {
        display: block;
        float: none;
        margin-bottom: 20px;
        /*margin-right: -10%;*/
    }
    .col-desc {
        float: none;
        /*margin-right: -15%;*/
        /*display: none;*/   
    }
    .order-summary-right {
        float: none;
        display: block;
        margin: 10px 0;
    }
    .col-desc span:first-child {
        margin-right: 14px;
    }


    span.nowrap {
        display: block;
    }

    .footer {
        text-align: center;
    }

    #registration-form {
        margin-bottom: 30px;
    }
}