html, body {
    height: 100%;
}

.navbar-header #logo {
    margin: 0 10px 0 0;
    padding: 5px;
}

.welcome {
    font-size: 18px;
    margin: 20px 0;
}

h1 {
    font-size: 30px;
    margin: 18px 0 18px;
}

.register-prompt {
    margin: 20px 0;
}
.account-action .inline a {
    margin: 50px 10px 0 0;
}
#gdpr h2 {
    font-size: 26px;
}

.delete-account {
    margin-top: 10px;
}
.delete-account a {
    margin: 0 8px;
}
.content {
  min-height: calc(100% - 72px);
}
.content .container { /* body content */
  /*padding: 20px;*/
  padding-bottom: 100px;
}

#contact-info p {
    line-height: 26px;
}

.footer {
    /*background-color: #222;*/
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(24,24,24,1) 100%);
    border-top: #101010;
    line-height: 50px;
    text-align: right;
    height: 50px;
    margin-top: -50px;
        color: #9d9d9d;
}

.footer ul, .footer li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.footer li:after {
    margin: 0 6px;
    content: '/';
}
/*.footer li a {
    color: #9d9d9d;
}*/


.group:before,
.group:after {
	content:" ";
	display: table;
}

.group:after {
	clear:both;
}

.group {
	*zoom: 1;
}

/* darkstyle */
body {
    background-color: #333333;
    color: #F0F0F0;
}

.panel {
    background-color: #222;
    border-color: #DBC51A; 
}
.panel-heading {
    background-color: #F0F0F0 !important;
}

.list-group-item {
    background-color: #222 !important;
    border-color:  #DBC51A; 
}

a, a:visited {
    color: #4287BE;
}
a:hover, a:focus {
    color: #5295C5;
}
.account-action .inline a, .delete-account a {
    color: #F0F0F0;
}
.yellow {
    color: #DBC51A;
}

h1 {

    color: #DBC51A;
}
h3 {
    color: #DBC51A;
}

hr {
    border-color: #222;
}
#gdpr h2 {
    color: #DBC51A;
}


.alert-info {
    color: #F0F0F0;
    background-color: #124E78;
    border-color: #104771;
}

.alert-success {
    color: #F0F0F0;
    background-color: #243E36;
    border-color: #4cae4c;
}
.alert-danger {
    color: #F0F0F0;
    background-color: #d9534f;
    border-color: #d43f3a;
}


/*
@media(max-width: 1200px){
   .meal-field-group {
        margin-right: 0;
    }
    .col-desc {
        margin-right: 0;
    }
    .col-desc span:first-child {
        margin-right: 10px;
    }
}
*/


@media(max-width: 800px){
    h1 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
    body {
        font-size: 13px;
    }
   
    span.nowrap {
        white-space: nowrap;
    }
    h1 {
        line-height: 34px;
    }

}
@media(max-width: 768px) {
    .navbar-header #logo {
        margin-left: 15px;
    }
}
@media(max-width: 600px){
    body {
        text-align: center;
    }
    .navbar-header {
        text-align: left;
    }
    span.nowrap {
        display: block;
    }

    .footer {
        text-align: center;
    }

    #registration-form {
        margin-bottom: 30px;
    }
}