{% extends "base.html" %}

{% block app_content %}
<h1>GDPR</h1>
<div id="gdpr">
    <h2>ZÁSADY OCHRANY OSOBNÝCH ÚDAJOV SPOLOČNOSTI IP development, s.r.o.</h2>

    <p>
        Ak ste návštevníkom našej webovej stránky, našim zákazníkom alebo odberateľom rozpisu a notifikácií ohľadom
        denného menu, zverujete nám svoje osobné údaje. My zodpovedáme za ich ochranu a zabezpečenie. Tu sa môžete
        oboznámiť s ochranou osobných údajov, zásadami a právami, ktoré máte v súvislosti s GDPR (Všeobecným nariadením
        EU o ochrane osobných údajov).
    </p>
    <p>
        Oboznámenie dotknutej osoby s informáciami potrebnými k spracúvaniu osobných údajov podľa § 19 ods. 1 a 2 zákona č. 18/2018 Z. z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov a podľa článku 13 Nariadenia Európskeho parlamentu a Rady (EÚ) 2016/679.
        V zmysle § 19 ods. 1 a 2 zákona č. 18/2018 Z. z. o ochrane osobných údajov a článku 13 Nariadenia Európskeho parlamentu a Rady (EÚ) 2016/679 bola dotknutá osoba oboznámená s nasledujúcimi informáciami potrebnými k spracúvaniu osobných údajov.
        Právny základ spracúvania osobných údajov: Pri spracúvaní osobných údajov spoločnosť postupuje v súlade s platným a aktuálnym zákonom č. 18/2018 Z.z. o ochrane osobných údajov a o zmene a doplnení niektorých predpisov (ďalej len „zákon o ochrane osobných údajov“) a NARIADENÍM EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/679(ďalej len GDPR).
    </p>
    <h3>1. Správca vašich dát</h3>
    <p>My, ako spoločnosť IP development, s.r.o. so sídlom: Elektrárenská 4, 83104 Bratislava, IČO 2022059193, prevádzkujeme webovú aplikáciu cantina.ipcentrum.sk a nakladáme s vašimi osobnými údajmi ako správca. Kontaktovať nás môžete na email rakovan@ipdevelopment.sk alebo na tel. č. 0903710322. Ako správca vašich osobných údajov spĺňame všetky zákonné povinnosti požadované platnou legislatívou, vaše osobné údaje spracovávame iba na základe platného právneho dôvodu, a to najmä oprávneného záujmu, plnenia zmluvy, zákonnej povinnosti či udeleného súhlasu, podľa článku 13 GDPR plníme informačnú povinnosť ešte pred začatím spracovania osobných údajov a úplne rešpektujeme vaše práva podľa zákona o ochrane osobných údajov a GDPR.</p>

    <h3>2. Rozsah osobných údajov a účely spracovania</h3>
    <p>
        Osobné údaje, ktoré ste nám zverili, spracovávame z nasledovných dôvodov:
    </p>
    <p>
        Vaše osobné údaje v rozsahu: meno, priezvisko, e-mail, telefón, názov spoločnosti v ktorej pracujete, počet a druh objednaných produktov (informácie o produkte) nevyhnutne potrebujeme pre poskytovanie služieb (napr. dodanie a následné vydanie objednaného jedla).
        Pre zasielanie denného menu a upozornení využívame vašu emailovú adresu v prípade, že ste nám na to udelili súhlas.
        Kedykoľvek môžete zasielanie našich e-mailových správ odhlásiť prostredníctvom nastavení vášho účtu na adrese cantina.ipcentrum.sk/account
        Cookies - pri prechádzaní našich webových stránok môžeme zaznamenávať vašu IP adresu.
    </p>

    <h3>3. Doba uloženia osobných údajov</h3>
    <p>
        Vaše osobné údaje si ponechávame počas behu premlčacích lehôt, ak zákon nestanoví
        dlhšiu dobu pre ich uchovávanie.
    </p>

    <h3>4. Zabezpečenie a ochrana osobných údajov</h3>
    <p>
        Vaše osobné údaje opatrujeme ako keby boli naše vlastné a pristupujeme k nim so
        všetkou úctou. S vašimi dátami nakladajú iba osoby (zamestnanci a spolupracovníci),
        ktorí sú viazaní mlčanlivosťou, spracovateľské operácie vykonávame vlastnými silami a nepoužívame pre nich tretie strany.
    </p>

    <h3>5. Vaše práva v rámci ochrany osobných údajov</h3>
    <p>
       Právo požadovať prístup k Vašim osobným údajom – tzn., že sa nás môžete opýtať, aké osobné údaje o Vás evidujeme a čo sa s nimi v priebehu toho, čo sú u nás, dialo a bude diať.
        Právo na opravu – pokiaľ nie sú osobné údaje, ktoré o vás vedieme už aktuálne alebo sú nesprávne, môžete požiadať o ich opravu.
        Právo vzniesť námietku – v prípade, že sa domnievate, že spracovávame osobné údaje nad rámec nášho oprávneného záujmu zamedziť opakovanému objednávaniu a nevyzdvihnutia produktov, môžete proti takémuto spracovaniu vzniesť námietku, ktorou sa musíme zaoberať.
        Právo na výmaz (tzv. právo „byť zabudnutý“) – tzn., že na Vašu žiadosť musíme vymazať všetky osobné údaje, ktoré o Vás evidujeme, napr. pokiaľ si už nebudete priať byť u nás registrovaní. Môže sa ale stať, že bude existovať iný dôvod, ktorý nás oprávňuje, či zaväzuje údaje uchovať (napr. povinnosť plynúca zo zákona o účtovníctve atď.) a v takom prípade výmaz nemôžeme urobiť.
        Právo na obmedzenie spracovania - v niektorých prípadoch síce osobné údaje môžeme uchovávať, ale nesmieme s nimi nijak nakladať; jedná sa o nasledujúceho situácie:
        <br>
        - Pokiaľ popriete presnosť údajov a my potrebujeme Vaše oznámenie overiť;<br>
        - Ak sú osobné údaje spracovávané neoprávnene, ale neprajete si, aby sme ich vymazali a miesto výmazu požiadate len o obmedzenie spracovania;<br>
        - Pokiaľ už osobné údaje nepotrebujeme, ale požiadate o ich uchovanie pre uplatnenie Vašich právnych nárokov;<br>
        - Pokiaľ vznesiete námietku proti spracovaniu, a to po dobu, než overíme, či budú osobné údaje ďalej spracovávané v našom dôležitom záujme alebo ich spracovávať nebudeme.
        <br>
        Právo na prenositeľnosť údajov – v prípade, že nás o to požiadate, poskytneme Vám Vaše osobné údaje, ktoré spracovávame na základe súhlasu a zároveň ich spracovávame automatizovane. Takéto údaje Vám poskytneme v bežne používanom, strojovo čitateľnom formáte. Poprípade tieto údaje môžeme odovzdať správcovi, ktorého určíte, pokiaľ ale s odovzdaním bude súhlasiť.
        Právo podať sťažnosť - pokiaľ sa domnievate, že nejakým spôsobom porušujeme pravidlá spracovávania osobných údajov, máte právo podať sťažnosť na Úrad na ochranu osobných údajov.
    </p>
    <h3>6. Mlčanlivosť</h3>
    <p>
        Naši zamestnanci aj spolupracovníci, ktorí spracovávajú vaše osobné údaje, sú povinní zachovávať mlčanlivosť o osobných údajoch a to aj po skončení zmluvného vzťahu s nami. Bez vášho súhlasu nebudú vaše osobné údaje vydané žiadnej inej tretej strane. Pokiaľ máte akúkoľvek otázku ohľadom ochrany súkromia, môžete nám napísať email na rakovan@pergamon.sk
    </p>
    <p>
        Môže sa stať, že tieto podmienky budeme z času na čas aktualizovať, odporúčame teda, aby ste sa na túto stránku občas pozreli.
    </p>

    <p>
        Platnosť od 26.4.2020 <br>
        V Bratislave 26.4.2020
    </p>

</div>
{% endblock %}