{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Údaje</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, extra_classes="readonly") }}
        </div>
    </div>
     <a href="{{ url_for('auth.edit_profile') }}" class="">Upraviť údaje</a><br>

    <!--<h1>Notifikácie</h1>-->
    <hr>
    <h1>Emailové upozornenia</h1>
    <form action="" method="post" class="form" role="form">
        {{ email_form.hidden_tag() }}
        <div class="checkbox">
            <label>
                {{ email_form.email_subscription() }}
                {{ email_form.email_subscription.label }}
            </label>
        </div>
        {{ email_form.submit(**{"class_":"btn btn-primary"} ) }}
    </form>
    <hr>
    <div class="account-action">
        <div class="inline">
            <a href="{{ url_for('auth.change_password') }}" class="btn btn-primary">Zmeniť heslo</a>
            <a href="{{ url_for('auth.delete_account') }}" class="btn btn-danger">Zrušiť konto</a>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $('.readonly input').prop('readonly', true);
    });
</script>
{% endblock %}