{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Prihlásenie</h1>
    <div class="row">
        <div class="col-md-8 col-lg-4">
            {{ wtf.quick_form(form, button_map={'submit': 'teal'}) }}
        </div>
    </div>
    <p class="register-prompt">
        Zabudli ste heslo?
        <a href="{{ url_for('auth.reset_password_request') }}">Kliknite sem</a>.
    </p>

    <p class="register-prompt">
        <b>Ak ešte nemáte konto, prosím <a href="{{ url_for('auth.register') }}">zaregistrujte sa</a>.</b>
    </p>
{% endblock %}
