<div class="container">
    <div class="row">
        <div class="col">

            <form class="" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                    {% for day in range(menu|length) %}
                            <h3 class="menu-section-title text-black mb-0 mb-lg-1">{{ utils.svk_weekday_from_int(day) }}</h3>
                            <div class="menu-form-section text-center px-0 px-lg-2 mb-4">
                            {% if menu[day] is not none %}
                                {% if menu[day]['soup'] is not none %}
                                <div class="soup mb-0 mb-lg-1 d-flex justify-content-start justify-content-lg-start">
                                    <b class="invisible">P:</b>
                                    <span class=""> &nbsp;{{ menu[day]['soup'].portion }}&nbsp;</span>
                                    <span class="">
                                    {{ menu[day]['soup'].description }}
                                    </span>
                                    {% if menu[day]['soup'].allergens %}
                                    <span class="small">&nbsp;/{{ menu[day]['soup'].allergens }}/</span><br>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% with field = form.fields[day] %}
                                    {{ field.hidden_tag() }}
                                    {% with meals = menu[day]['meals'] %}
                                        {% for i in range(meals|length) %}
                                            {% include '_menu_row.html' %}
                                        {% endfor %}
                                    {% endwith %}
                                {% endwith %}
                            {% else %}
                                {{ form.fields[day].hidden_tag() }}
                                {% for field in form.fields[day].subfields %}
                                    {{ field.hidden_tag() }}
                                {% endfor %}

                                <p class="text-left"><em>Zatvorené</em></p>
                            {% endif %}
                            </div>
                    {% endfor %}
                <hr class="d-none d-lg-block">
                <div class="row justify-content-center justify-content-lg-end mx-lg-2">
                    <div class="col-md-6 col-lg-4">
                        {{ form.submit(class_='btn btn-lg btn-primary btn-block mt-1') }}
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
