
{% if weekly_summary.orders %}
<div class="list-group">
    {% for i in range(5) %}
        {% if weekly_summary.orders[i] %}
            <span class="section-title mt-1">{{ weekly_summary.get_day_string(i) }}</span>
            {% for order in weekly_summary.orders[i] %}
            <a class="list-group-item list-group-item-action bg-light">
                <div class="row text-center">
                    <div class="col-12 col-lg-9 align-center justify-content-lg-start">
                        <b>{{ order.meal.label }}:</b>&nbsp;
                        {{ order.meal.description }}
                    </div>
                    <div class="col-12 col-lg-2 align-center my-1 my-lg-0">
                        <span class="mx-1"> {{ order.amount }}ks</span>
                        <span class="mx-1">{{ "%.2f" % (order.price) }} &euro;</span>
                    </div>
                    <div class="col-12 col-lg-1 align-center">
                        <form action="" method="post">
                            <input type="hidden" name="meal_id" value="{{ order.meal.id }}" >
                            <input type="hidden" name="take_away" value="{{ order.take_away }}" >
                            {% if order.cancellable %}
                                <input type="submit" name="cancel_order" value="zrušiť" class="btn btn-danger btn-sm mx-1">
                            {% else %}
                                <input type="submit" name="cancel_order" value="zrušiť" class="btn btn-danger btn-sm mx-1" disabled="disabled">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<div class="text-right">
    <p class="lead mb-0 mt-1">Spolu: {{ "%.2f" % weekly_summary.total_price }} &euro;</p>
    <p>všetky ceny sú uvedené s DPH</p>
</div>

{% else %}
    <p class="lead">Na daný týždeň nemáte žiadne objednávky.</p>
{% endif %}
